.header {
  background-color: @primary-color;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .addButton {
    background-color: @secondary-color;
    border-color: @secondary-color;
    color: black;
  }
}
