.header {
  background-color: @primary-color;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  position: relative;
  display: flex;
  align-items: center;

  .menu {
    flex-grow: 1;
    background: none !important;

    :global {
      .ant-menu-item-selected,
      .ant-menu-item:hover {
        background-color: @secondary-color !important;
      }
    }
    .link {
      font-size: large;
    }
  }

  .Button {
    margin-left: 50px;
    transition: 0.5s;
    background-color: @secondary-color;
    border-color: @secondary-color;
    color: black;
    font-weight: 400;
  }

  .Button_Hidden {
    opacity: 0;
    visibility: hidden;
  }
}
